<% if(not_logged){ %>
  <a href='https://www.thingiverse.com/login/oauth/authorize?client_id=01e6eab25045aa343883&redirect_uri=http://rosalilastudio.com:8000&response_type=token'>login with thingiverse</a>
  <script>
    if(window.location.hash.split('access_token=')[1])
      window.location = '/?value='+window.location.hash.split('access_token=')[1]
  </script>
<% }else{ %>
  <h1>Rosalila's printer</h1>
  <% for(i=0;i<collections.length;i++){ %>
    <h2><%=collection_names[i]%></h2>
    <% for(j=0;j<collections[i].length;j++){ %>
      <h3><%=collections[i][j].name%></h3>
      <a href="<%=collections[i][j].public_url%>">
        <img src="<%=collections[i][j].thumbnail%>"/>
      </a>
    <% } %>
  <% } %>
  <% for(i=0;i<copies.length;i++){ %>
    <h3><%=JSON.stringify(copies[i])%></h3>
  <% } %>
  <!--<%=JSON.stringify(collections)%>-->
<% } %>
