<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

<!-- Milligram CSS minified -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">

<!-- You should properly set the path from the main file. -->
<% if(not_logged){ %>
  <a href='https://www.thingiverse.com/login/oauth/authorize?client_id=01e6eab25045aa343883&redirect_uri=http://rosalilastudio.com:8000&response_type=token'>login with thingiverse</a>
  <script>
    if(window.location.hash.split('access_token=')[1])
      window.location = '/?value='+window.location.hash.split('access_token=')[1]
  </script>
<% }else{ %>
  <h1>Rosalila's printer</h1>
  <h2>Collections</h2>
  <% for(i=0;i<collections.length;i++){ %>
    <h3><%=collection_names[i]%></h3>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <% for(j=0;j<collections[i].length;j++){ %>
          <tr>
            <td>
              <a href="<%=collections[i][j].public_url%>">
                <img src="<%=collections[i][j].thumbnail%>"/>
              </a>
            </td>
            <td>
              <a href="<%=collections[i][j].public_url%>">
                <%=collections[i][j].name%>
              </a>
            </td>
            <td>
              <a href="<%=collections[i][j].creator.public_url%>">
                <%=collections[i][j].creator.name%>
              </a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } %>
  <h2>Makes</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Creator</th>
          <th>Maker</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0;i<copies.length;i++){ %>
          <td>
            <a href="<%=copies[i][0].public_url%>">
              <img src="<%=copies[i][0].thing.thumbnail%>"/>
            </a>
          </td>
            <td>
              <a href="<%=copies[i][0].public_url%>">
                <%=copies[i][0].thing.name%>
              </a>
            </td>
            <td>
              <a href="<%=copies[i][0].thing.creator.public_url%>">
                <%=copies[i][0].thing.creator.name%>
              </a>
            </td>
            <td>
              <a href="<%=copies[i][0].maker.public_url%>">
                <%=copies[i][0].maker.name%>
              </a>
            </td>
            <td>
              <%=copies[i][0].added%>
            </td>
        <% } %>
      </tbody>
    </table>
<% } %>
<!--<%=JSON.stringify(copies[0][0])%>-->
